<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--服务名-->
    <property name="APP_NAME" value="cloud-k8s-sms"/>
    <!--日志输出路径-->
    <property name="LOG_PATH" value="logs"/>
    <!--输出格式-->
<!--    <property name="PATTERN" value="%date{yyyy-MM-dd HH:mm:ss.SSS}|${PID}|%level|[${APP_NAME},%X{traceId},%X{spanId},%X{parentId}]|%thread|%logger|%message%n"/>-->
    <property name="PATTERN" value="%date{yyyy-MM-dd HH:mm:ss.SSS}|${PID}|%level|[${APP_NAME},%X{X-B3-TraceId},%X{X-B3-SpanId},%X{X-B3-ParentSpanId}]|%thread|%logger|%message%n"/>
    <!--文件输出-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--最新日志文件不带日期-->
        <file>${LOG_PATH}/${APP_NAME}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}.%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!--单个日志文件最大100MB-->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!--日志文件保存60天-->
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <prudent>false</prudent>
    </appender>
    <!--控制台输出-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    <!--日志输出级别-->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>